* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
android/gradlew text eol=lf
*.bat text eol=crlf
*.png binary
*.aab binary
*.apk binary
*.jar binary
